# Configuracion Django
SECRET_KEY=django-insecure-cambia-esto-en-produccion

# Gmail OAuth 2.0
SENDER_EMAIL=tu-correo@gmail.com
OAUTH_CLIENT_SECRETS=credentials/oauth2.json
OAUTH_TOKEN_FILE=credentials/oauth_token.json
